# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# ROS2
log/
install/
build/
devel/
*.pyc

# Isaac Sim / Omniverse
_cache/
kit/
_build/
*.bak


# VLA demos / training data
octo_vla/Demos/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

*.swp
*.swo
